# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build
dist/
.cache/
*.tsbuildinfo

# Env / config sensible
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal
*.sqlite
*.sqlite-journal
/.data/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
logs/
*.log
